@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Paaji 2', cursive;
}

.body {
  width: 100%;
  height: 100vh;
  background-color: chartreuse;
  padding-top: 100px;
}

nav {
  height: 100px;
  width: 100%;
  background-color: fuchsia;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.navDiv {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.navDiv p {
  color: chartreuse;
}

.main img {
  width: 50px;
  object-fit: contain;
}

.login {
  text-decoration: none;
  font-size: 1.5rem;
  color: fuchsia;
  font-weight: 600;
  background-color: chartreuse;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
}

.login:hover {
  background-color: yellow;
  color: fuchsia;
}

.login:active {
  color: yellow;
  background-color: orange;
}
